{:up   ["CREATE TABLE pessoa (id string primary key,
                              nome string,
                              cpj string unique,
                              email string unique,
                              senha string,
                              created date,
                              updated date);"]
 :down ["DROP TABLE pessoa;"]}
